#! /c/iverilog/bin/vvp
:ivl_version "0.9.7 " "(v0_9_7)";
:vpi_time_precision - 10;
:vpi_module "system";
:vpi_module "v2005_math";
:vpi_module "va_math";
S_008887A8 .scope module, "CONTROL_UNIT" "CONTROL_UNIT" 2 5;
 .timescale -9 -10;
v0088B9C8_0 .var "ALUOP", 4 0;
v00887C58_0 .var "BRANCH", 0 0;
v00883300_0 .net "FUNCTION3", 2 0, L_010EF958; 1 drivers
v00883358_0 .net "FUNCTION7A", 0 0, L_010EFAB8; 1 drivers
v008833B0_0 .net "FUNCTION7B", 0 0, L_010EF5E8; 1 drivers
v010EF0F0_0 .var "IMME_SELECT", 2 0;
v010EF148_0 .net "INSTRUCTION", 31 0, C4<zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz>; 0 drivers
v010EF1A0_0 .net "INSTRUCTION_TYPE", 0 0, C4<z>; 0 drivers
v010EF1F8_0 .var "INTSTRUCTION_TYPE", 3 0;
v010EF250_0 .var "JUMP", 0 0;
v010EF2A8_0 .var "MEMREAD", 0 0;
v010EF300_0 .var "MEMWRITE", 0 0;
v010EF8A8_0 .var "MUX1_SELECT", 0 0;
v010EF9B0_0 .var "MUX2_SELECT", 0 0;
v010EF590_0 .var "MUX3_SELECT", 1 0;
v010EF3D8_0 .var "MUX4_SELECT", 0 0;
v010EF7F8_0 .net "OPCODE", 6 0, L_010EFA08; 1 drivers
v010EF7A0_0 .net "SPECIALOP", 8 0, L_010EF4E0; 1 drivers
v010EF850_0 .var "WRITEENABLE", 0 0;
v010EF900_0 .net *"_s13", 2 0, C4<000>; 1 drivers
v010EF430_0 .net *"_s8", 5 0, L_010EFA60; 1 drivers
E_010E5170 .event edge, v010EF7A0_0;
E_010E51F0 .event edge, v010EF7F8_0;
L_010EFA08 .part C4<zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz>, 0, 7;
L_010EF958 .part C4<zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz>, 12, 3;
L_010EFAB8 .part C4<zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz>, 30, 1;
L_010EF5E8 .part C4<zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz>, 25, 1;
L_010EFA60 .concat [ 1 3 1 1], C4<z>, L_010EF958, L_010EF5E8, L_010EFAB8;
L_010EF4E0 .concat [ 6 3 0 0], L_010EFA60, C4<000>;
    .scope S_008887A8;
T_0 ;
    %wait E_010E51F0;
    %load/v 8, v010EF7F8_0, 7;
    %cmpi/u 8, 0, 7;
    %jmp/1 T_0.0, 6;
    %cmpi/u 8, 51, 7;
    %jmp/1 T_0.1, 6;
    %cmpi/u 8, 19, 7;
    %jmp/1 T_0.2, 6;
    %cmpi/u 8, 35, 7;
    %jmp/1 T_0.3, 6;
    %cmpi/u 8, 3, 7;
    %jmp/1 T_0.4, 6;
    %cmpi/u 8, 99, 7;
    %jmp/1 T_0.5, 6;
    %cmpi/u 8, 103, 7;
    %jmp/1 T_0.6, 6;
    %cmpi/u 8, 111, 7;
    %jmp/1 T_0.7, 6;
    %cmpi/u 8, 23, 7;
    %jmp/1 T_0.8, 6;
    %cmpi/u 8, 55, 7;
    %jmp/1 T_0.9, 6;
    %jmp T_0.10;
T_0.0 ;
    %delay 10, 0;
    %movi 8, 9, 4;
    %set/v v010EF1F8_0, 8, 4;
    %set/v v010EF8A8_0, 2, 1;
    %set/v v010EF3D8_0, 2, 1;
    %set/v v010EF590_0, 2, 2;
    %set/v v010EF9B0_0, 2, 1;
    %set/v v010EF850_0, 0, 1;
    %set/v v010EF2A8_0, 0, 1;
    %set/v v010EF300_0, 0, 1;
    %set/v v00887C58_0, 0, 1;
    %set/v v010EF250_0, 0, 1;
    %set/v v010EF0F0_0, 2, 3;
    %jmp T_0.10;
T_0.1 ;
    %delay 10, 0;
    %movi 8, 8, 4;
    %set/v v010EF1F8_0, 8, 4;
    %set/v v010EF8A8_0, 0, 1;
    %set/v v010EF3D8_0, 0, 1;
    %movi 8, 1, 2;
    %set/v v010EF590_0, 8, 2;
    %set/v v010EF9B0_0, 1, 1;
    %set/v v010EF850_0, 1, 1;
    %set/v v010EF2A8_0, 0, 1;
    %set/v v010EF300_0, 0, 1;
    %set/v v00887C58_0, 0, 1;
    %set/v v010EF250_0, 0, 1;
    %set/v v010EF0F0_0, 2, 3;
    %jmp T_0.10;
T_0.2 ;
    %delay 10, 0;
    %movi 8, 7, 4;
    %set/v v010EF1F8_0, 8, 4;
    %set/v v010EF8A8_0, 0, 1;
    %set/v v010EF3D8_0, 0, 1;
    %movi 8, 1, 2;
    %set/v v010EF590_0, 8, 2;
    %set/v v010EF9B0_0, 0, 1;
    %set/v v010EF850_0, 1, 1;
    %set/v v010EF2A8_0, 0, 1;
    %set/v v010EF300_0, 0, 1;
    %set/v v00887C58_0, 0, 1;
    %set/v v010EF250_0, 0, 1;
    %movi 8, 2, 3;
    %set/v v010EF0F0_0, 8, 3;
    %jmp T_0.10;
T_0.3 ;
    %delay 10, 0;
    %movi 8, 6, 4;
    %set/v v010EF1F8_0, 8, 4;
    %set/v v010EF8A8_0, 0, 1;
    %set/v v010EF3D8_0, 1, 1;
    %movi 8, 1, 2;
    %set/v v010EF590_0, 8, 2;
    %set/v v010EF9B0_0, 0, 1;
    %set/v v010EF850_0, 0, 1;
    %set/v v010EF2A8_0, 0, 1;
    %set/v v010EF300_0, 1, 1;
    %set/v v00887C58_0, 0, 1;
    %set/v v010EF250_0, 0, 1;
    %movi 8, 1, 3;
    %set/v v010EF0F0_0, 8, 3;
    %jmp T_0.10;
T_0.4 ;
    %delay 10, 0;
    %movi 8, 5, 4;
    %set/v v010EF1F8_0, 8, 4;
    %set/v v010EF8A8_0, 0, 1;
    %set/v v010EF3D8_0, 1, 1;
    %movi 8, 1, 2;
    %set/v v010EF590_0, 8, 2;
    %set/v v010EF9B0_0, 0, 1;
    %set/v v010EF850_0, 1, 1;
    %set/v v010EF2A8_0, 1, 1;
    %set/v v010EF300_0, 0, 1;
    %set/v v00887C58_0, 0, 1;
    %set/v v010EF250_0, 0, 1;
    %movi 8, 1, 3;
    %set/v v010EF0F0_0, 8, 3;
    %jmp T_0.10;
T_0.5 ;
    %delay 10, 0;
    %movi 8, 4, 4;
    %set/v v010EF1F8_0, 8, 4;
    %set/v v010EF8A8_0, 0, 1;
    %set/v v010EF3D8_0, 2, 1;
    %set/v v010EF590_0, 2, 2;
    %set/v v010EF9B0_0, 1, 1;
    %set/v v010EF850_0, 0, 1;
    %set/v v010EF2A8_0, 0, 1;
    %set/v v010EF300_0, 0, 1;
    %set/v v00887C58_0, 1, 1;
    %set/v v010EF250_0, 0, 1;
    %set/v v010EF0F0_0, 0, 3;
    %jmp T_0.10;
T_0.6 ;
    %delay 10, 0;
    %movi 8, 3, 4;
    %set/v v010EF1F8_0, 8, 4;
    %set/v v010EF8A8_0, 0, 1;
    %set/v v010EF3D8_0, 0, 1;
    %movi 8, 2, 2;
    %set/v v010EF590_0, 8, 2;
    %set/v v010EF9B0_0, 0, 1;
    %set/v v010EF850_0, 1, 1;
    %set/v v010EF2A8_0, 0, 1;
    %set/v v010EF300_0, 0, 1;
    %set/v v00887C58_0, 0, 1;
    %set/v v010EF250_0, 1, 1;
    %movi 8, 4, 3;
    %set/v v010EF0F0_0, 8, 3;
    %jmp T_0.10;
T_0.7 ;
    %delay 10, 0;
    %movi 8, 2, 4;
    %set/v v010EF1F8_0, 8, 4;
    %set/v v010EF8A8_0, 1, 1;
    %set/v v010EF3D8_0, 0, 1;
    %movi 8, 2, 2;
    %set/v v010EF590_0, 8, 2;
    %set/v v010EF9B0_0, 0, 1;
    %set/v v010EF850_0, 1, 1;
    %set/v v010EF2A8_0, 0, 1;
    %set/v v010EF300_0, 0, 1;
    %set/v v00887C58_0, 0, 1;
    %set/v v010EF250_0, 1, 1;
    %movi 8, 4, 3;
    %set/v v010EF0F0_0, 8, 3;
    %jmp T_0.10;
T_0.8 ;
    %delay 10, 0;
    %movi 8, 1, 4;
    %set/v v010EF1F8_0, 8, 4;
    %set/v v010EF8A8_0, 1, 1;
    %set/v v010EF3D8_0, 0, 1;
    %movi 8, 1, 2;
    %set/v v010EF590_0, 8, 2;
    %set/v v010EF9B0_0, 0, 1;
    %set/v v010EF850_0, 1, 1;
    %set/v v010EF2A8_0, 0, 1;
    %set/v v010EF300_0, 0, 1;
    %set/v v00887C58_0, 0, 1;
    %set/v v010EF250_0, 0, 1;
    %movi 8, 3, 3;
    %set/v v010EF0F0_0, 8, 3;
    %jmp T_0.10;
T_0.9 ;
    %delay 10, 0;
    %set/v v010EF1F8_0, 0, 4;
    %set/v v010EF8A8_0, 2, 1;
    %set/v v010EF3D8_0, 0, 1;
    %set/v v010EF590_0, 0, 2;
    %set/v v010EF9B0_0, 2, 1;
    %set/v v010EF850_0, 1, 1;
    %set/v v010EF2A8_0, 0, 1;
    %set/v v010EF300_0, 0, 1;
    %set/v v00887C58_0, 0, 1;
    %set/v v010EF250_0, 0, 1;
    %movi 8, 3, 3;
    %set/v v010EF0F0_0, 8, 3;
    %jmp T_0.10;
T_0.10 ;
    %jmp T_0;
    .thread T_0, $push;
    .scope S_008887A8;
T_1 ;
    %wait E_010E5170;
    %delay 10, 0;
    %load/v 8, v010EF7A0_0, 9;
    %movi 17, 0, 4;
    %mov 21, 2, 5;
    %cmp/x 8, 17, 9;
    %jmp/1 T_1.0, 4;
    %movi 26, 1, 4;
    %mov 30, 2, 5;
    %cmp/x 8, 26, 9;
    %jmp/1 T_1.1, 4;
    %movi 35, 2, 4;
    %mov 39, 2, 5;
    %cmp/x 8, 35, 9;
    %jmp/1 T_1.2, 4;
    %movi 44, 3, 4;
    %mov 48, 2, 5;
    %cmp/x 8, 44, 9;
    %jmp/1 T_1.3, 4;
    %movi 53, 4, 7;
    %mov 60, 2, 2;
    %cmp/x 8, 53, 9;
    %jmp/1 T_1.4, 4;
    %movi 62, 20, 7;
    %mov 69, 2, 2;
    %cmp/x 8, 62, 9;
    %jmp/1 T_1.5, 4;
    %movi 71, 68, 7;
    %mov 78, 2, 2;
    %cmp/x 8, 71, 9;
    %jmp/1 T_1.6, 4;
    %movi 80, 84, 7;
    %mov 87, 2, 2;
    %cmp/x 8, 80, 9;
    %jmp/1 T_1.7, 4;
    %movi 89, 100, 7;
    %mov 96, 2, 2;
    %cmp/x 8, 89, 9;
    %jmp/1 T_1.8, 4;
    %movi 98, 116, 7;
    %mov 105, 2, 2;
    %cmp/x 8, 98, 9;
    %jmp/1 T_1.9, 4;
    %movi 107, 5, 4;
    %mov 111, 2, 5;
    %cmp/x 8, 107, 9;
    %jmp/1 T_1.10, 4;
    %movi 116, 6, 4;
    %mov 120, 2, 5;
    %cmp/x 8, 116, 9;
    %jmp/1 T_1.11, 4;
    %movi 125, 7, 7;
    %mov 132, 2, 2;
    %cmp/x 8, 125, 9;
    %jmp/1 T_1.12, 4;
    %movi 134, 39, 7;
    %mov 141, 2, 2;
    %cmp/x 8, 134, 9;
    %jmp/1 T_1.13, 4;
    %movi 143, 55, 7;
    %mov 150, 2, 2;
    %cmp/x 8, 143, 9;
    %jmp/1 T_1.14, 4;
    %movi 152, 71, 7;
    %mov 159, 2, 2;
    %cmp/x 8, 152, 9;
    %jmp/1 T_1.15, 4;
    %movi 161, 103, 7;
    %mov 168, 2, 2;
    %cmp/x 8, 161, 9;
    %jmp/1 T_1.16, 4;
    %movi 170, 119, 7;
    %mov 177, 2, 2;
    %cmp/x 8, 170, 9;
    %jmp/1 T_1.17, 4;
    %movi 179, 23, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.18, 4;
    %movi 179, 87, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.19, 4;
    %movi 179, 343, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.20, 4;
    %movi 179, 88, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.21, 4;
    %movi 179, 344, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.22, 4;
    %movi 179, 88, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.23, 4;
    %movi 179, 88, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.24, 4;
    %movi 179, 88, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.25, 4;
    %movi 179, 88, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.26, 4;
    %movi 179, 88, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.27, 4;
    %movi 179, 344, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.28, 4;
    %movi 179, 88, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.29, 4;
    %movi 179, 88, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.30, 4;
    %movi 179, 216, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.31, 4;
    %movi 179, 216, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.32, 4;
    %movi 179, 216, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.33, 4;
    %movi 179, 216, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.34, 4;
    %movi 179, 216, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.35, 4;
    %movi 179, 216, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.36, 4;
    %movi 179, 216, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.37, 4;
    %movi 179, 216, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.38, 4;
    %movi 179, 9, 9;
    %cmp/x 8, 179, 9;
    %jmp/1 T_1.39, 4;
    %jmp T_1.40;
T_1.0 ;
    %set/v v0088B9C8_0, 2, 5;
    %jmp T_1.40;
T_1.1 ;
    %set/v v0088B9C8_0, 0, 5;
    %jmp T_1.40;
T_1.2 ;
    %set/v v0088B9C8_0, 0, 5;
    %jmp T_1.40;
T_1.3 ;
    %set/v v0088B9C8_0, 0, 5;
    %jmp T_1.40;
T_1.4 ;
    %movi 8, 1, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.5 ;
    %movi 8, 1, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.6 ;
    %movi 8, 1, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.7 ;
    %movi 8, 1, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.8 ;
    %movi 8, 1, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.9 ;
    %movi 8, 1, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.10 ;
    %set/v v0088B9C8_0, 0, 5;
    %jmp T_1.40;
T_1.11 ;
    %set/v v0088B9C8_0, 0, 5;
    %jmp T_1.40;
T_1.12 ;
    %set/v v0088B9C8_0, 0, 5;
    %jmp T_1.40;
T_1.13 ;
    %movi 8, 16, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.14 ;
    %movi 8, 1, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.15 ;
    %movi 8, 4, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.16 ;
    %movi 8, 3, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.17 ;
    %movi 8, 2, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.18 ;
    %movi 8, 5, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.19 ;
    %movi 8, 6, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.20 ;
    %movi 8, 7, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.21 ;
    %set/v v0088B9C8_0, 0, 5;
    %jmp T_1.40;
T_1.22 ;
    %movi 8, 1, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.23 ;
    %movi 8, 5, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.24 ;
    %movi 8, 16, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.25 ;
    %movi 8, 17, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.26 ;
    %movi 8, 4, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.27 ;
    %movi 8, 6, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.28 ;
    %movi 8, 7, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.29 ;
    %movi 8, 3, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.30 ;
    %movi 8, 2, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.31 ;
    %movi 8, 8, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.32 ;
    %movi 8, 9, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.33 ;
    %movi 8, 10, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.34 ;
    %movi 8, 11, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.35 ;
    %movi 8, 12, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.36 ;
    %movi 8, 13, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.37 ;
    %movi 8, 14, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.38 ;
    %movi 8, 15, 5;
    %set/v v0088B9C8_0, 8, 5;
    %jmp T_1.40;
T_1.39 ;
    %set/v v0088B9C8_0, 2, 5;
    %jmp T_1.40;
T_1.40 ;
    %jmp T_1;
    .thread T_1, $push;
# The file index is used to find the file name in the following table.
:file_names 3;
    "N/A";
    "<interactive>";
    ".\ControlUnit.v";
